# this also works great on osx, but I disabled osx to conserve Travis-CI resources.
language: python
group: travis_latest

git:
  depth: 3
  quiet: true

python:
- 3.6
- 3.5
- pypy3

os:
- linux
#  - osx

#env:
#  - TRAVIS_PYTHON_VERSION=3.6

#before_install:
#    - if [[ $TRAVIS_OS_NAME == osx ]]; then
#        wget https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh;
#      else
#        wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
#      fi

#    - bash miniconda.sh -b -p $HOME/miniconda
#    - export PATH=$HOME/miniconda/bin:$PATH
#    - hash -r

#    - conda config --set always_yes yes --set changeps1 no
#    - conda update -q conda
#    - conda create -n test python=$TRAVIS_PYTHON_VERSION
#    - source activate test


install:
- pip install -e .[tests]
- if [[ $TRAVIS_PYTHON_VERSION == 3.6* ]]; then pip install -e .[cov]; fi

script:
- pytest -rsv

- if [[ $TRAVIS_PYTHON_VERSION == 3.6* ]]; then
  flake8;
  mypy . --ignore-missing-imports;
  fi

after_success:
- if [[ $TRAVIS_PYTHON_VERSION == 3.6* ]]; then
  pytest --cov --cov-config=setup.cfg;
  coveralls;
  fi

